@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
	margin: 20px;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #1e1e1e;
}

.container-fluid {
	background-color: #fff;
	border-radius: 20px;
	border: #fe8019 solid 4px;
}

.highScore {
	color: #fe8019;
	display: flex;
	font-size: 20px;
}

.mainstyle p {
	padding: 5px;
	font-size: large;
	background: #fff;
	color: #1e1e1e;
	font-weight: bolder;
	border-radius: 7px;
	border: #1e1e1e solid 2px;
}

.mainstyle p:hover {
	background-color: #fe8019;
}

.timeleft {
	display: flex;
	color: #1e1e1e;
	font-size: 20px;
}

button {
	display: inline-block;
	border: none;
	padding: 1rem 2rem;
	margin: 0;
	text-decoration: none;
	background: #0069ed;
	color: #ffffff;
	font-size: 1rem;
	line-height: 1;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:hover,
button:focus {
	background: #fe8019;
}

button:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

button:active {
	transform: scale(0.99);
}
